header {
    padding: 0px 540px;
    background-color: antiquewhite;
}

header h1 {
    margin: 0px 120px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.btn {
    display: block;
}

/* CARDS */
.card {
    display: inline-block;
    background-color: steelblue;
    border: 3px solid var(--dark);
    padding: 96px 76px;
    border-radius: var(--border-radius);
    margin: 52px 43px 23px 0;
}

.city-card {
    border: 3px solid var(--dark);
    padding: 149px 21px;
    border-radius: var(--border-radius);
    margin: 40px 0 0 0;
}

.card-header {

}